
img.imgCard {
    width: 331px;
    height:331px;
}

.cardTitle {
    margin: 0 auto;
    font-family: 'Antic Didone', serif;
    font-weight: bold;
    font-size: 1rem;
}
.price {
    font-family: 'Antic Didone', serif;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom:10px;
}