.contenedor-formularios {
    background: #8C30F5;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px 4px;
}


label {
    transform: translateY(6px);
    left: 13px;
    color: rgba(white,.5);
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    /* pointer-events: none; */
    font-size: 22px;
    
}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
    

}

label.highlight {
    color: white;
}